.main {
    height: 100vh;
}

.bg_img {
    background-image: url(/bg_img.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 500px;
}

.waitlist_form {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-weight: 500;
}

.waitlist_form p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.waitlist_form span {
    margin-bottom: 1em;

    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0.5em;
}

.name_input,
.email_input {
    outline: none;
    padding: 0.8em;
    font-size: 1.1em;
    background-color: #111;
    border: 1px solid #333;
    border-radius: 6px;
    color: #fff;
    width: 460px;
}

.waitlist_form .sign_up_btn {
    background-color: #ededed;
    color: #0a0a0a;
    font-size: 1em;
    cursor: pointer;
    padding: 0.6em 1em;
    border-radius: 6px;

}

.waitlist_form .sign_up_btn:hover {
    background-color: #bdbdbd;
}


@media screen and (min-width: 0px) and (max-width: 360px) {
    .waitlist_form {
        margin: 3em 0;
    }

    .bg_img {
        height: 180px;
    }

    .name_input,
    .email_input {
        width: 220px;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {

    .waitlist_form {
        margin: 3em 0;
    }

    .bg_img {
        height: 180px;
    }

    .name_input,
    .email_input {
        width: 320px;
    }
}


/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .waitlist_form {
        margin: 3em 0;
    }

    .bg_img {
        height: 300px;
    }

    .name_input,
    .email_input {
        width: 420px;
    }
}